
.task-list {
    padding: 20px;
    margin: 90px 0 0 0;
    background-color: transparent;
  }
  
  table {
    width: 100%;
    background-color: transparent; 
  }
  
  th {
    background-color: transparent; 
    text-align: left;
    padding: 10px;
  }
  
  th:nth-child(3) {
    display: flex;
    justify-content: space-between;
  }
  
  td {
    border: 1px solid #ccc;
    padding: 10px;
  }
  
  button {
    /* background-color: transparent !important; */
    /* color: white; */
    padding: 5px 10px;
    border: none;
    cursor: pointer;
  }
  
  .icon {
    font-size: 1.2rem;
    margin-right: 5px;
    cursor: pointer;
  }
  input{
    background-color: transparent;
  }